* {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Baumans";
}

/*  || body ||  */

#container {
	background: url(./assets/images/background-image.jpg) no-repeat center/cover fixed;
	min-height: 100vh;
}

/*  || main ||  */

.main {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

/*  ********** search bar **********  */

.search {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.search-input {
	min-height: 100%;
	border-radius: 45px;
	outline: black solid 1px;
	border: none;
	color: black;
	padding-left: 5%;
	font-size: 1.2rem;
	transition: outline 0.1s ease-in-out;
}

.search-input:focus {
	outline: none;
	border: none;
	outline: black solid 4px;
}

.search-button {
	border-radius: 45px;
	border: none;
	background-color: black;
	height: 45px;
	width: 80px;
	cursor: pointer;
}

.material-icons {
	color: white;
	font-size: 1.8rem;
}
/*  ********** card section **********  */

.card-section {
	height: 55%;
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/*  ********** weather card **********  */

.location-title {
	font-size: 3rem;
	/* font-family: "Confortaa"; */
}

.card {
	background-color: #334155;
	display: flex;
	padding: 2rem;
	width: 83%;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
	height: 50%;
}
.temp-section,
.other-info-section {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.temp-section {
	align-items: center;
	font-family: "Kosugi Maru";
}

.other-info-section {
	padding-left: 30px;
	font-size: 1.4em;
	letter-spacing: 1px;
	align-items: flex-start;
	border-left: 1px solid white;
}

.temperature {
	font-size: 3.8rem;
	letter-spacing: -7px;
}

.weather {
	font-size: 2rem;
}
/*  || footer ||  */

.footer {
	padding: 20px 0;
	text-align: center;
	width: 100%;
	background-color: black;
	font-size: 1.5rem;
	word-spacing: 2px;
	position: fixed;
	left: 0;
	bottom: 0;
}

a {
	text-decoration: none;
	color: #0e7490;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: #06b6d4;
}
