* {
  margin: 0;
  padding: 0;
  color: white;
}

/*  || main ||  */

#container {
  background: url(./assets/images/background-image.jpg) no-repeat center/cover
    fixed;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 90% 10%;
}

/*  || body ||  */

/*  ********** search bar **********  */

.search {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 80%;
  height: 38px;
  border-radius: 45px;
  outline: #000000 solid 2px;
  border: none;
  color: black;
  padding-left: 5%;
  font-size: 1.2rem;
}

.search-input:focus {
  outline: none;
  border: none;
  outline: #000000 solid 4px;
}

.search-button {
  height: 40px;
  width: 40px;
  border-radius: 45px;
  border: none;
  background-color: #334155;
  cursor: pointer;
}

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  || footer ||  */

.footer {
  height: 100%;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  word-spacing: 2px;
}

a {
  text-decoration: none;
  color: #0e7490;
}

a:hover {
    color: #06b6d4;
}
